:root {
  --blue: #219fab;
  --darkgreen: #015754;
  --icongray: #bec2c5;
  --textgray: #5E656D;
  --facebook: #4267b2;
  --twitter: #00acee;
  --gplus: #db4a39;
  --instagram: #fb3958;
  --pinterest: #e60023;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}

html {
  scroll-behavior: smooth;
}

/* Srollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fefefe;
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkgreen);
  border-radius: 5px;
}

/* Navigation Bar */
nav {
  background-color: var(--darkgreen);
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.nav-brand {
  margin-left: 100px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 3px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 100px;
  font-size: 0.8rem;
}

.nav-items div {
  padding: 0 10px;
  cursor: pointer;
}

/* Main Content */
main {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.main-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0 10px 0;
  letter-spacing: 5px;
}

.main-image {
  text-align: center;
  margin-bottom: 40px;
}

.main-image img {
  max-width: 90%;
  height: auto;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 200px;
  color: var(--blue);
  margin-bottom: 70px;
}

.grid-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.grid-buttons li {
  border: 1px solid var(--blue);
  border-radius: 20px;
  padding: 5px 0 5px 10px;
  margin: 10px 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.grid-buttons li:hover {
  background-color: var(--blue);
  color: #fff;
}

/* About Section */
section {
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin: 30px 20px 30px 100px;
  color: var(--textgray);
}

.about-title, .contact-title, .follow-title {
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.small-para {
  font-size: 0.79rem;
  margin-bottom: 15px;
  line-height: 20px;
}

hr {
  border: none;
  background-color: var(--icongray);
  height: 1px;
  margin: 0 0 2px 0;
}

.lightpink {
  color: orchid;
}

section i {
  color: var(--icongray);
}

.contact i {
  margin-right: 10px;
}

.follow i {
  margin-right: 15px;
  cursor: pointer;
  outline: none;
}

.fa-facebook-f:hover {
  color: var(--facebook);
}

.fa-twitter:hover {
  color: var(--twitter);
}

.fa-google-plus-g:hover {
  color: var(--gplus);
}

.fa-instagram:hover {
  color: var(--instagram);
}

.fa-pinterest:hover {
  color: var(--pinterest);
}

/* Footer */
footer {
  text-align: right;
  margin: 10px 20px 10px 0;
}

footer a {
  color: var(--blue);
  text-decoration: none;
}

footer a:hover {
  color: orchid;
}

